h1 {
    font-family: "Noto Sans Gurmukhi", system-ui;
    font-weight:600;
    font-size: 72px;
    font-style: normal; 
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
}

.card:hover {
    border: none;
    cursor: pointer;
    background: hsla(173, 89%, 70%, 1);
    
    background: linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6FF7E8", endColorstr="#1F7EA1", GradientType=1 );
}

.card-title {
    color: black;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}

.card-title a {
    color:black;
    text-decoration: none;
}

.card a:hover {
    color: white;
}

.back-link a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color:black;
}

.back-link a:hover {
    text-decoration: underline;
    color:blue;
}

.credit-section { 
    font-family: "Noto Sans Gurmukhi", system-ui;
    font-optical-sizing: auto;
    font-weight:600;
    font-size: 21px; 
    font-style: normal;
}

.places-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
@media (max-width: 576.98px) {
    .card {
        padding: 15px;
    }
    .card-title {
        font-size: 20px;
    }
}

@media (min-width: 576.98px) {
    .card {
        padding: 30px;
    }
}

@media (max-width: 991.98px) { 
    .places-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }   
}






